<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>Event Participants</title>
</head>

<body>
    <h1>Event participants</h1>

    <% if(participants.length === 0) { %>
        <p>No participants have registered for this event yet</p>
    <%} else{ %>
        <% participants.forEach((participant)=> { %>
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            <%= participant.full_name %>
                        </h2>
                        <p>
                            <%= participant.email %>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    <%}%>
</body>

</html>