<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
    <title>Event Registration</title>
</head>
<body>
    <h1>Event registration</h1>
    <div class="card-wrapper">
        <form action="/register" method="POST" id="registerForm" onsubmit="return validateForm()">

            <input type="hidden" name="event_id" value="<%= eventId %>">

            <div class="input">
                <h2>Full name</h2>
                <input type="text" name="full_name" placeholder=" Enter your name" required><br>
            </div>

            <div class="input">
                <h2>Email</h2>
                <input type="email" name="email" placeholder=" Enter your email" required><br>
            </div>

            <div class="input">
                <h2>Date of birth</h2>
                <input type="date" name="date_of_birth" id="date" required><br>
            </div>
            
            <div class="input">
                <h2>Why are you going?</h2>
                <input type="text" name="reason" placeholder=" Why are you going?" required><br>
            </div>

            <div class="input">
                <h2>Where did you hear about this event?</h2>

                <input type="radio" id="media" name="sourse" value="media"><label for="media">Social media</label><br>

                <input type="radio" id="friends" name="sourse" value="friends"><label for="friends">Friends</label><br>

                <input type="radio" id="myself" name="sourse" value="myself"><label for="myself">Found myself</label><br>
            </div>


            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>