*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f0ece0;
    --text-color: #463b3f;
    --placeholder-color: #a8a7a7;
    --button-color: #c1dae9;

    --border: 1px solid;

    --main-title-size: 50px;
    --title-size: 36px;
    --text-size: 24px;
    --font-family: 'Georgia', 'Times New Roman', 'Times', serif;
}

body{
    background-color:var(--background-color);
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    color: var(--text-color);
}

h1{
    text-align: center;
    font-size: var(--main-title-size);
    margin-top: 50px;
}

h2{
    font-size:var(--title-size);
}

h3{
    font-size: var(--title-size);
    text-align: center;
    margin-top: 40px;
}

p, label{
    margin: 10px;
    font-size: var(--text-size);
}
.card-wrapper{
    display: flex;
    margin-top: 40px;
    width: 100%;
    align-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
    justify-content: center;
}

.card{
    width: 450px;
    height: auto;
    border: var(--border);
    border-radius: 10px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

button{
    cursor: pointer;
    background-color: var(--button-color);
    font-size: var(--text-size);
    border: var(--border);
    border-radius: 10px;
    margin: 15px;
    padding: 15px 20px;
}